.github/
build/
.gitignore
.DS_Store
*.md
docker-compose.yml
.prod.env
prodEnvString.txt
local.dbconfig.yml
.env.out
Dockerfile
*.log
cmd/azteradio-service/base64.prod.yml.out
cmd/azteradio-service/config.prod.yml