.github/
build/
.gitignore
.DS_Store
*.md
docker-compose.yml
.prod.env
prodEnvString.txt
local.dbconfig.yml
.env.out
Dockerfile
*.log
cmd/aztemusic-service-rawon/1/.base64.prod.env
cmd/aztemusic-service-rawon/1/.config.prod.env
cmd/azteradio-service-rawon/.base64.prod.env
cmd/azteradio-service-rawon/.config.prod.env